/* nejsme vcerejsi, pouzivame moderni box model */

*, :after, :before {
    box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
}

/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    color: white;
    font-size: 2.8em;
}

.perex {
    color: white;
    margin: 0px 30px;
}

.autor {
    color: rgb(211, 204, 204);
    font-size: 0.8em;
    font-style: italic;
}

.hlavicka {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/island-hlavicka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-height: 400px;
}

h1 {
    margin-bottom: 10px;
}

/* MENU */

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0 35px;
}

a {
    color: gray;
}

.amenu {
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway', serif;
    font-weight: 500;
    border-bottom: solid rgb(204, 203, 203) 1px;
}

h2 {
    font-family: 'Raleway', serif;
    padding-left: 25px;
}

/* OBSAH */

img {
    width: 100%;
}

p {
    padding: 10px 25px;
    font-size: 0.8em;
}

.popisek {
    font-family: 'Raleway', serif;
    text-align: center;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    color: gray;
    font-size: 0.8em;
}

/* FOTOGALERIE */

.foto>.popisek {
    font-weight: 700;
}

.popisek-copy {
    font-weight: 300;
}

.galerie {
    border-bottom: solid 1px #e2dfdf;
    box-shadow: 13px 13px 13px #e2dfdf;
}

/* PATICKA */

footer {
    color: gray;
    background-color: #e2dfdf;
    background: linear-gradient(#adadad, #e7e5e5 11%);
}

footer>p {
    margin-top: 0;
    padding-top: 15px;
    font-size: 0.7em;
}

/************/
/* VERZE PRO TABLETY */
/************/


@media (min-width: 500px) {

/* HLAVICKA */

    .hlavicka {
        min-height: 300px;
        max-height: 400px;
    }

/* MENU */

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: 30px;
        border-bottom: solid #cecccc 1px;
        border-top: solid #cecccc 1px;
    }
    .amenu {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
    }
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 25%;
        border-left: solid #cecccc 1px;
    }

    li:first-child {
        border-left: none
    }

/* OBSAH */

    p {
        font-size: 1em;
        padding: 12px 35px;
    }

    h2 {
        padding: 0px 35px;
        font-size: 2em;
    }

    .obsah {
       position: absolute;
       right: 0;
    }

/* FOTOGALERIE */

    
    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto {
        width: 50%;
        position: relative;
        overflow: hidden;
    }

    .galerie img {
        display: block;
    }

    .galerie .popisek {
        position: absolute;
        background-color: rgb(0, 0, 0, 0.4);
        text-align: center;
        width: 100%;
        color: gainsboro;
        padding: 15px;
        transition: transform ease-out 0.3s;
        font-size: 1em;
    }

    .popisek-copy a {
        color: gainsboro;
    }

    .foto:hover .popisek {
        transform: translate(0, -100%);
    }

}

/************/
/* VERZE PRO DESKTOPY */
/************/

@media (min-width: 960px) {

.main {
    width: 960px;
    margin: auto;
    box-shadow: 0px 11px 24px 0px rgba(0,0,0,0.75);
    padding: 0;
    margin-top: -50px;
    z-index: 5;
    position: relative;
}

/* HLAVICKA */

.hlavicka {
    width: 100vw;
    min-height: 400px;
}

.hlavicka .perex{
    width: 60%;
}

.hlavicka .autor{
    font-size: 1em;
}

/* MENU */

/* li {
    display: list-item;
}

.amenu {
    display: list-item;
} */

/* OBSAH */

p {
    padding-left: 150px;
}

/* GALERIE */

.foto {
    width: 33.333334%;
}
}